<div th:fragment="formField (field, value, size)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <div><img th:src="${article.getPhoto}"/></div>
        <div>
            <span th:text="${article.getName()}"></span>
            <span th:text="${article.getPrice()} €"></span>
            <span th:text="${article.getCategory()}"></span>
            <span th:text="${article.getDescription()}"></span>
        </div>
        <tbody>
        <tr th:each="seller : ${sellers}">
            <td th:text="${article.getName()}"></td>
            <td th:text="${article.getRating() }"></td>
            <td>
                <form action="#" th:action="@{/order}" method="POST">
                    <fieldset>
                        <p>
                            <input type="hidden" name="article_id" th:value="${article.getId()}" required/>
                            <input type="text" name="article_qty" value="1" required/>
                        </p>
                        <input type="submit" name="Add">
                    </fieldset>
                </form>
            </td>
            <!-- <td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>-->
        </tr>
        </tbody>
    </div>
</div>
