<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" href="css/search-bar.css" th:href="@{/css/search-bar.css}"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1>Cart</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seller_article : ${tmp_orders}">
            <td th:text="'Seller:' + ${seller_article.getKey()}"></td>
            <td>
                <form action="#" th:action="@{/add}" method="POST">
                    <fieldset>
                        <p>
                            <input type="text" name="seller_id" value="1" required/>
                        </p>
                        <input type="submit" name="Add">
                    </fieldset>
                </form>
            </td>
            <!-- <td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>-->
        </tr>
        </tbody>
    </table>

</body>
</html>
