<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<body>
    <div th:replace="navbar :: navbar"></div>
    <h1>Cart</h1>
    <p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${lastArticles}">
            <td th:text="${article.getName()}"></td>
            <td th:text="${article.getDescription() }"></td>
            <td th:text="${article.getCategory()}"></td>
            <td><img th:src=" ${article.getPhoto()}"></td>
            <!-- <td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>-->
        </tr>
        </tbody>
    </table>

    <div>
        <p>Search an article</p>
        <form action="#" th:action="@{/search}" method="GET">
            <fieldset>
                <p>
                    <input type="text" name="hint" required/>
                </p>
                <input type="submit" name="Search">
            </fieldset>
        </form>
    </div>
</body>
</html>
